<main class="app">
  <header>
    <div class="header">
      <h1>Todo List</h1>
      <button (click)="toggleAddTodo()" [class.close]="showAddTodo$ | async">
        <i class="fa-solid fa-add"></i>
      </button>
    </div>
    <app-filter-todo [todos$]="todos$"></app-filter-todo>
    <app-add-todo (add)="onAdd($event)"></app-add-todo>
    <small class="errors" *ngIf="errors$ | async as errors">{{ errorMessages[errors] }}</small>
  </header>
  <app-todo-list [todos]="todos$ | async" (edit)="onUpdate($event)" (toggle)="onUpdate($event)"
    (delete)="onDelete($event)">
  </app-todo-list>
</main>