<main class="container-fluid p-0">
  <header class="bg-dark text-light col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 sticky-top">
    <div class="d-flex justify-content-between align-items-center px-4 pt-4 pb-2">
      <h1 class="h1 m-0">Todo List</h1>
      <button (click)="toggleAddTodo()" [ngClass]="{'btn-close bg-danger': showAddTodo$ | async}"
        class="btn btn-primary rounded-circle">
        <i class="fa-solid fa-add add-close"></i>
      </button>
    </div>
    <app-filter-todo [todos$]="todos$"></app-filter-todo>
    <app-add-todo (add)="onAdd($event)"></app-add-todo>
    <small class="text-danger" *ngIf="errors$ | async as errors">{{ errorMessages[errors] }}</small>
  </header>
  <app-todo-list [todos]="todos$ | async" (edit)="onUpdate($event)" (toggle)="onUpdate($event)"
    (delete)="onDelete($event)">
  </app-todo-list>
</main>