.filters {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;

  *:not(:last-child) {
    margin-right: 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .filter-option {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    input {
      display: block;
      opacity: 0;
      margin-right: 0.9rem;
    }

    input:disabled ~ .checkbox {
      border-color: #ffffff77;

      &:after {
        background-color: #ffffff77;
      }
    }

    input:disabled + span {
      color: #ffffff77;
    }

    .checkbox {
      border: 1px solid white;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1.1rem;
      height: 1.1rem;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center;
        height: 0.8rem;
        width: 0.8rem;
        background-color: white;
        transition: 0.3s ease;
      }

      &.checked:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}
