<div class="px-4 pb-4 d-flex-column justify-content-between justify-content-md-start align-items-sm-end align-items-start">
  <h4 class="h4 mb-0 mr-2">Filters:</h4>
  <div class="d-flex flex-column flex-sm-row justify-content-sm-between">
    <div class="d-flex flex-column justify-content-start align-items-start mr-4">
      <h5 class="mb-1">Priority</h5>
      <div class="d-flex justify-content-end">
        <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input" id="high" [(ngModel)]="filters.high" name="high"
            [disabled]="!(inputState$ | async)?.high" (click)="setFilters($event)" />
          <label class=" custom-control-label" for="high">High</label>
        </div>
        <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input" id="medium" [(ngModel)]="filters.medium" name="medium"
            [disabled]="!(inputState$ | async)?.medium" (click)="setFilters($event)" />
          <label class=" custom-control-label" for="medium">Medium</label>
        </div>
        <div class="custom-control custom-checkbox mr-2">
          <input type="checkbox" class="custom-control-input" id="low" [(ngModel)]="filters.low" name="low"
            [disabled]="!(inputState$ | async)?.low" (click)="setFilters($event)" />
          <label class=" custom-control-label" for="low">Low</label>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-start align-items-start">
      <h5 class="mb-1">Status</h5>
      <select class="form-control" ngModel="all" (ngModelChange)="handleStatusChange($event)">
        <option value="all" selected>All To-dos</option>
        <option value="completed" [disabled]="!(inputState$ | async)?.completed">Completed To-dos</option>
        <option value="pending" [disabled]="!(inputState$ | async)?.pending">Pending To-dos</option>
      </select>
    </div>
  </div>
</div>

<!-- <div class="filters">
  <h2>Priority Filter:</h2>
  <label class="filter-option" for="high">
    <input [disabled]="!(inputState$ | async)?.high" id="high" (click)="setFilters($event)" type="checkbox" name="high"
      [(ngModel)]="filters.high"> <span>High</span>
    <div class="checkbox" [class.checked]="filters.high === true"></div>
  </label>
  <label class="filter-option" for="medium">
    <input [disabled]="!(inputState$ | async)?.medium" id="medium" (click)="setFilters($event)" type="checkbox"
      name="medium" [(ngModel)]="filters.medium"> <span>Medium</span>
    <div class="checkbox" [class.checked]="filters.medium === true"></div>
  </label>
  <label class="filter-option" for="low">
    <input [disabled]="!(inputState$ | async)?.low" id="low" (click)="setFilters($event)" type="checkbox" name="low"
      [(ngModel)]="filters.low"> <span>Low</span>
    <div class="checkbox" [class.checked]="filters.low === true"></div>
  </label>
</div> -->