/* You can add global styles to this file, and also import other style files */
/*
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #eee;
}

@media (min-width: 1025px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p,
  span,
  label,
  input {
    font-size: 1.6rem;
  }

  button {
    font-size: 1.4rem;
  }
}
*/

* {
  transition: 0.3s ease;
}

.btn {
  &-close {
    transform: rotate(45deg);
  }
}

.add-todo {
  max-height: 0rem;

  &.show-add-todo {
    max-height: 10rem;
  }
}